global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend angular-frontend
    bind *:8080
    default_backend angular-backend

backend angular-backend
    server sellerpannelapp sellerpannelservice1:80 check
